# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environments
.env
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Mobile Client directories (Keeping repositories separate)
/phlm_flutter/
/phlm_project/

